<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta charset="utf-8" />
    </head>

    <body>

         <h1><span th:text="${viesti}">Viesti tulee tähän</span></h1>

         <ul>
            <li th:each="resepti: ${reseptit}">
                <a th:href="${'/resepti/' + resepti.id}"><span th:text="${resepti.nimi}">reseptin nimi</span></a>
            </li>
         </ul>
         
        <p><a href="/uusismoothie">Luo uusi smoothie</a></p>
        <p><a href="/ainekset">Tarkastele ja lisää aineksia</a></p>
    </body>
</html>