<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta charset="utf-8" />
    </head>

    <body>

        <h1><span th:text="${viesti}">Viesti tulee tähän</span></h1>

        <ul>
            <li th:each="resepti: ${reseptit}">
                <span th:text="${resepti.nimi}">reseptin nimi</span> (<a th:href="${'/resepti/' + resepti.id}"><span th:text="${poisto}">Linkki tähän</span></a>)
            </li>
        </ul>

        <h2 th:text="${lisays}">Lisäys</h2> 

        <form method="POST" action="/uusismoothie">
            <span th:text="${snimi}">Smoothie:</span><br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <h2 th:text="${lisaysAine}">Lisäys</h2> 

        <form method="POST" action="/lisaaaine">
            <span th:text="${snimi}">Smoothie:</span><br/>
            <select name="smoothie">
                <option th:each="resepti: ${reseptit}" th:name="${resepti.id}" th:text="${resepti.nimi}">Reseptin nimi</option>
            </select>
            <br/>
            <span th:text="${animi}">Raaka-aine:</span><br/>
            <select name="raakaAine">
                <option th:each="aine: ${aineet}" th:name="${aine.id}" th:text="${aine.nimi}">Aine</option>
            </select>
            <br/>
            <span th:text="${jarj}">Teksti</span><br/>
            <input type="text" name="jarj"/><br/>
            <span th:text="${maara}">Teksti</span><br/>
            <input type="text" name="maara"/><br/>
            <span th:text="${ohje}">Teksti</span><br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <p><a href="/">Takaisin smoothielistaukseen</a></p>
    </body>
</html>